<div fxLayout="column" fxFlex="auto">

  <ng-container *ngIf="!currentDay">
    <ng-container *ngTemplateOutlet="startTmpl"></ng-container>
  </ng-container>

  <ng-container *ngIf="currentDay">

    <ng-container *ngIf="!currentDay?.stopDate">
      <ng-container *ngTemplateOutlet="stopTmpl"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentDay?.stopDate">
      <ng-container *ngTemplateOutlet="noneTmpl"></ng-container>
    </ng-container>

  </ng-container>

</div>


<!-- START TEMPLATE -->
<ng-template #startTmpl>

  <div fxFlex="auto" fxFlexAlign="center" fxLayout="row" fxLayoutAlign="space-around center">
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="startHours" step="1" min="0" max="23">
    </mat-form-field>

    <span class="mat-body field-space">:</span>

    <mat-form-field>
      <input matInput type="number" [(ngModel)]="startMinutes" step="1" min="0" max="59">
    </mat-form-field>
  </div>

  <div class="actions" fxLayout fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="onStart()">Start!</button>
  </div>

</ng-template>


<!-- STOP TEMPLATE -->
<ng-template #stopTmpl>

  <div fxFlexAlign="center">
    <span class="mat-title">{{currentDay?.startDate | date:'dd MMMM yyyy'}}</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexOffset="36px">
    <span class="mat-subheading-1 tag-subheader">Start time</span>
    <span class="mat-title">{{currentDay?.startDate | date:'HH:mm'}}</span>
  </div>

  <div fxFlex="auto" fxLayout="column">

    <span class="mat-subheading-1 tag-subheader">Pauses</span>


    <div style="overflow: auto">
      <mat-card *ngFor="let pause of currentDay?.pauses; let i = index" class="pause-card">
        <mat-card-content fxLayout fxLayoutAlign="space-between center">

          <span class="mat-body">{{pause}} minutes</span>

          <button mat-icon-button color="warn" (click)="onRemovePause(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-card>
      <mat-card-content fxLayout fxLayoutAlign="space-between center">

        <mat-slider fxFlex="auto" [(ngModel)]="pauseValue" min="0" max="90" step="5" thumbLabel tickInterval="2"></mat-slider>

        <span class="mat-caption">{{pauseValue}} min</span>

        <button mat-icon-button color="primary" (click)="onAddPause()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>

  </div>


  <div class="actions" fxLayout fxLayoutAlign="center center">

    <button mat-mini-fab *ngIf="!recPauseDate" color="warn" (click)="toggleRecPause()" [@enterLeave]="'in'">
      <mat-icon>play_arrow</mat-icon>
    </button>

    <button mat-raised-button color="accent" (click)="onStop()" fxFlexOffset="24px">Stop 🏁</button>

    <button mat-mini-fab *ngIf="recPauseDate" color="warn" (click)="toggleRecPause()" fxFlexOffset="24px" [@enterLeave]="'in'">
      <mat-icon>stop</mat-icon>
    </button>
  </div>


</ng-template>


<!-- NOTHING TO DO TEMPLATE -->
<ng-template #noneTmpl>
  <div fxFlex="auto" fxFlexAlign="center" fxLayout="row" fxLayoutAlign="space-around center">
    <span class="mat-title">Nothing to do 😃</span>
  </div>

</ng-template>
