<div fxLayout="column" fxFlex="auto">

  <ng-container *ngIf="!currentDay">
    <ng-container *ngTemplateOutlet="startTmpl"></ng-container>
  </ng-container>

  <ng-container *ngIf="currentDay">

    <ng-container *ngIf="!currentDay?.stopDate">
      <ng-container *ngTemplateOutlet="stopTmpl"></ng-container>
    </ng-container>

    <ng-container *ngIf="currentDay?.stopDate">
      <ng-container *ngTemplateOutlet="noneTmpl"></ng-container>
    </ng-container>

  </ng-container>

</div>


<!-- START TEMPLATE -->
<ng-template #startTmpl>

  <div fxFlex="auto" fxFlexAlign="center" fxLayout="row" fxLayoutAlign="space-around center">
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="startHours" step="1" min="0" max="23">
    </mat-form-field>

    <span class="mat-body field-space">:</span>

    <mat-form-field>
      <input matInput type="number" [(ngModel)]="startMinutes" step="1" min="0" max="59">
    </mat-form-field>
  </div>

  <div class="actions" fxLayout fxLayoutAlign="center center">
    <button mat-fab class="play-btn" (click)="onStart()">
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>

</ng-template>


<!-- STOP TEMPLATE -->
<ng-template #stopTmpl>

  <div fxFlexAlign="center">
    <span class="mat-title">{{ currentDay?.startDate | date:'dd MMMM yyyy' }}</span>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexOffset="36px">
    <span class="mat-subheading-1 tag-subheader">Start time</span>
    <span class="mat-title">{{ currentDay?.startDate | date:'HH:mm' }}</span>
  </div>

  <div fxFlex="auto" fxLayout="column">

    <span class="mat-subheading-1 tag-subheader">Pauses</span>

    <app-pauses-box [day]="currentDay" [pauseValue]="pauseValue" (addPause)="onAddPause($event)" (removePause)="onRemovePause($event)">
    </app-pauses-box>

  </div>


  <div class="actions" fxLayout fxLayoutAlign="center center">

    <button mat-mini-fab *ngIf="!recPauseDate" color="accent" (click)="toggleRecPause()" [@enterLeave]="'in'">
      <mat-icon>pause</mat-icon>
    </button>

    <button mat-fab class="stop-btn" (click)="onStop()" fxFlexOffset="24px">
      <mat-icon>stop</mat-icon>
    </button>

    <button mat-mini-fab *ngIf="recPauseDate" color="accent" (click)="toggleRecPause()" fxFlexOffset="24px" [@enterLeave]="'in'">
      <mat-icon>stop</mat-icon>
    </button>
  </div>


</ng-template>


<!-- NOTHING TO DO TEMPLATE -->
<ng-template #noneTmpl>
  <div fxFlex="auto" fxFlexAlign="center" fxLayout="row" fxLayoutAlign="space-around center">
    <span class="mat-title">Nothing to do 😃</span>
  </div>

</ng-template>
