<mat-expansion-panel>

  <mat-expansion-panel-header>

    <mat-panel-title>
      {{day?.startDate | date:'dd MMMM'}}
    </mat-panel-title>
    <mat-panel-description>
      {{calcSpan() | date:'HH:mm':'+0'}}
    </mat-panel-description>

  </mat-expansion-panel-header>


  <div fxLayout="column" fxLayoutAlign="center">

    <div fxLayout fxLayoutAlign="start center">
      <svg viewBox="0 0 32 32">
        <rect x="13" y="16" width="6" height="16" class="draw-pipe"></rect>
        <circle cx="16" cy="16" r="8" class="point-start"></circle>
      </svg>

      <span class="mat-body text-bolder" fxFlexOffset="12px">{{day?.startDate | date:'HH:mm'}}</span>
    </div>

    <div *ngFor="let pause of day?.pauses" fxLayout fxLayoutAlign="start center">

      <svg viewBox="0 0 32 32">
        <rect x="13" y="0" width="6" height="32" class="draw-pipe"></rect>
        <circle cx="16" cy="16" r="6" class="point-pause"></circle>
      </svg>

      <span class="mat-body" fxFlexOffset="12px">{{pause}} minutes</span>
    </div>

    <div fxLayout fxLayoutAlign="start center">

      <svg viewBox="0 0 32 32" *ngIf="day?.stopDate">
        <rect x="13" y="0" width="6" height="16" class="draw-pipe"></rect>
        <circle cx="16" cy="16" r="8" class="point-stop"></circle>
      </svg>

      <span class="mat-body text-bolder" fxFlexOffset="12px">{{day?.stopDate | date:'HH:mm'}}</span>
    </div>
  </div>


  <mat-action-row>
    <button mat-icon-button color="warn" (click)="removeDay.emit(day)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-action-row>


</mat-expansion-panel>
