<ng-container *ngIf="days$ | async as days">

  <div *ngIf="days.length === 0" fxLayout="column" fxFlex="auto" fxLayoutAlign="center center">
    <span class="mat-title">Nothing to see here 🙄</span>
  </div>

  <mat-list fxFlex="auto">

    <ng-container *ngFor="let items of days | monthGroup; let last = last">


      <h3 matSubheader>{{ items[0].startDate | date:'MMMM yyyy' }}</h3>

      <div [@fromDown]="items.length">
        <div class="day" *ngFor="let day of items">
          <app-day-details [day]="day"></app-day-details>
        </div>
      </div>

      <mat-divider *ngIf="!last"></mat-divider>

    </ng-container>

  </mat-list>

</ng-container>