<mat-list>
  <!--
  <h3 matSubheader>Parameters</h3>

  <mat-list-item>
    <h4 matLine>Hours per day</h4>
    <p matLine>How many hours should be done in a day</p>
    <mat-form-field fxFlex="10">
      <input matInput type="number" min="0" max="23" step="1">
    </mat-form-field>
  </mat-list-item>


  <h3 matSubheader>Notifications</h3>

  <mat-list-item>
    <h4 matLine>Max hour notification</h4>
    <p matLine class="demo-2">Show a notification when complete max hours per day</p>
    <mat-slide-toggle color="primary"></mat-slide-toggle>
  </mat-list-item> -->


  <h3 matSubheader>Others</h3>

  <mat-list-item (click)="onLogout()">
    <h4 matLine>Logout</h4>
  </mat-list-item>

</mat-list>
